name: publish-setting-autoinclude-prerelease
on:
  push:
    branches:
      - main
      - develop

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: gradle
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Deploy PreRelease Buildlogic Settings Auto-Include Plugin
        run: ./gradlew :plugin-settings-autoinclude:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
