name: submit-dependencies

on:
  push:
    branches:
      - main
      - develop

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: 21
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
